html,
body {
	height: 100%;
}
/*
    En klass som styr bredden på sidan, både footern och resten använder denna klass

*/
.defaultWidth{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #cc5555;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

/*
site/index.php
*/
/* carousel */
#quote-carousel
{
    padding: 0 10px 30px 10px;
    margin: 30px 0px 0px ;
    height:100px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
    left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
    right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
    background: #333333;
}
#quote-carousel img
{
    width: 250px;
    height: 100px
}
/* End carousel */

.slide blockquote {
    border-left: none;
    margin: 0;
}

.slide blockquote img {
    margin-bottom: 10px;
}

.slide blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
        margin-top: 30px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
/* end site/index*/


/***
 LAYOUTS MAIN
*/

.nav-row {
    text-align: center;
}
.nav-row p {
    padding: 5px;
}
.nav-row .col-md-2 {
    background-color: #fff;
    border: 1px solid #e0e1db;
    border-right: none;
}
.nav-row .col-md-2:last-child {
    border: 1px solid #e0e1db;
}
.nav-row .col-md-2:first-child {
    border-radius: 5px 0 0 5px;
}
.nav-row .col-md-2:last-child {
    border-radius: 0 5px 5px 0;
}
.nav-row .col-md-2:hover {
    color: #e92d00;
    cursor: pointer;
}
.nav-row .active {
    color: #e92d00;
    margin-top: -6px;
    border-top: 6px solid #e92d00;
    border-bottom: 6px solid #e92d00;
}
.nav-row .active:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #e92d00 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    top: 0;
    left: 50%;
}
.nav-row .glyphicon {
    padding-top: 15px;
    font-size: 40px;
}
#contactPanel{
    border:0px solid black;
}
#contactPanel .panel-content{
    margin-top: -30px;
    /*background-color: #c9e2b3*/
}
#contact{
}
#footerWrapper{
}
/** END LAYOUTS MAIN **/

/* sofies kommentarer css */
#container12345{}
/*raden under är scary _just nu_ då den skulle skriva över reglerna för alla sidor (body taggen innehåller hela sidan och finns i en uppsättning och vi har nog regler för den som det här kan krocka med...värt att titta på)*/
/*body { padding-top:30px; }*/
.widget .panel-heading , .blog h2, #contactHeader{background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.5, #569667),
    color-stop(1, #366942)
);
background-image: -o-linear-gradient(bottom, #569667 50%, #366942 100%);
background-image: -moz-linear-gradient(bottom, #569667 50%, #366942 100%);
background-image: -webkit-linear-gradient(bottom, #569667 50%, #366942 100%);
background-image: -ms-linear-gradient(bottom, #569667 50%, #366942 100%);
background-image: linear-gradient(to bottom, #569667 50%, #366942 100%);}
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

